body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  cursor: pointer;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  color: #464646;
  padding: 1px 2em 0 2em;
  width: 100%;
  gap: 1rem;
}

header.header-logo {
  display: flex;
  width: 50%;

}
