body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #f5f5f5;
  cursor: pointer;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 100vw;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  color: #464646;
  padding: 1px 2em 0 2em;
  width: 100%;
  gap: 1rem;
}

.header-logo {
  align-items: center;
  display: flex;
  width: 50%;
  gap: 0.5rem;
}

.menu-list {
  display: flex;
  flex-direction: row;
  padding: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #464646;
  align-items: center;
  gap: 32px;
}

.menu-item {
  margin-top: 8px;
  white-space: nowrap;
}

.hello {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px 1em 0 1em;
  gap: 1px;
  width: 1136px;
  height: 368px;
  margin-top: 3%;
}

.ola {
  display: flex;
  flex-direction: column;
  padding: 1px 1em 0 1em;
  width: 100%;
  gap: 0 0.1em;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 61px;
  color: #464646;
  width: 751px;
  height: 122px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

p {
  width: 751px;
  height: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
}

.photo {
  width: 350px;
  height: 350px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 1em 0 1em;
  gap: 1px;
  width: 1440px;
  height: 383px;
  background: #eaf2fd;
  margin-top: 3%;
  justify-content: space-between;
}

.about-me {
  display: flex;
  flex-direction: column;
  padding: 1px 1em 0 1em;
  width: 100%;
  gap: 0 0.1em;
}

h3 {
  width: 166px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
}

p {
  width: 751px;
  height: 133px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}
