:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  line-height: 1;
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
a {
  color: var(--cor-de-link);
  text-decoration: none;
}

header {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 8px;
  height: 24px;
  order: 0;
  padding: 30px;
  width: 134px;
}

.menu__list {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 30px;
  height: 19px;
  justify-content: flex-end;
  margin: 180px;
  order: 1;
  padding: 0px;
  width: 642px;
}

.title__div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  max-width: 1136px;
  width: 100%;
}


/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
