.curso {
  align-items: center;
  background: #eaf2fd;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  padding: 1rem 0;
  width: 100%;
}

.cursos h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
  text-align: center;
  color: #464646;
  margin: 1px 0 2px;
}

.cursos-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em;
  width: 100%;
}

.cursos-box > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.cursos-box > ul > li {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 1rem;
  background: #ffffff;
  width: 320px;
  height: 220px;
  text-align: center;
  color: #464646;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  justify-content: flex-end;
  
}

.cursos-box--img {
  background: #ffff;
  display: flex;
  align-items: center;
}

