.contato-form {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  gap: 10px;
  width: 1136px;
  height: 660px;
  /* background: #eaf2fd; */
  background: pink;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.formulario {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.image-phone {
  display: flex;
  width: 350px;
  height: 350px;
  padding: 1rem 0 1rem 6rem;
}

.contato h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  padding: 10px;
}

.contato h3 {
  display: flex;
  padding: 1rem;
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.contato-input {
  width: 656px;
  height: 56px;
  background: #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

#contato__botao {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
  cursor: pointer;
}

#contato__botao:hover {
  border: 1px solid #2a7ae4;
  background: white;
  color: #2a7ae4;
}
