.contato-form,
.contato-box {
  display: flex;
  background: pink;
}

.contato-box {
  gap: 2rem;
  align-items: center;
  padding: 64px;
}

.contato-container {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.contato-container h3 {
  color: #464646;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.contato-container h2 {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  align-items: center;
}

.contato__botao {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 16px;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  font-style: normal;
  font-family: 'Raleway';
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 165px;
  height: 51px;
}

#contato__botao:hover {
  border: 1px solid #2a7ae4;
  background: white;
  color: #2a7ae4;
}

/* .contato-form {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  gap: 10px;
  width: 1136px;
  height: 660px;
  background: #eaf2fd;
  background: pink;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
}

.formulario {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin: 10px 0;
}

.image-phone {
  display: flex;
  width: 350px;
  height: 350px;
  padding: 1rem 0 1rem 6rem;
}

.contato h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  padding: 10px;
}

.contato h3 {
  display: flex;
  padding: 1rem;
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
}

.contato-input,
.contato-textarea {
  width: 656px;
  height: 56px;
  background: #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-direction: column;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #464646;
}

#contato__botao {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

#contato__botao:hover {
  border: 1px solid #2a7ae4;
  background: white;
  color: #2a7ae4;
}

#id {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #a2a2a2;
}

#email::placeholder {
  color: #2a7ae4;
}

#contato-textarea::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #a2a2a2;
}

#email {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #464646;
} */
