.formcontato {
  background-color: #eaf2fd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2% 5%;
  width: 90%;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 50%;
  padding: 1rem 1rem 0 2rem;
}

.contact-img {
  max-width: 464px;
  max-height: 593px;
  width: 100%;
}

.contact-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
}

.contact-subtext {
  font-weight: 500;
  font-size: 1rem;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  padding: 1rem 1rem 0 1rem;
}

.contato-input,
.contato-textarea {
  border: transparent;
  padding: 1rem;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  font-family: 'Raleway';
}

.contato-input::placeholder,
.contato-textarea::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 16px;
  align-items: center;
  color: #A2A2A2;

}

.contato-input::placeholder,
.contato-textarea::placeholder {
  color: #2A7AE4;
}

.contato-input:active,
.contato-textarea:active {
  border-bottom: solid 2px #2A7AE4;
}

.contato__botao {
  padding: 1rem;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
}

.contato__botao:hover {
  border: 1px solid #2a7ae4;
  background: white;
  color: #2a7ae4;
}