.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2% 5%;
  width: 90%;
}

.xp {
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
}

.experiencia-box,
.experiencia-box--inverso {
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  min-width: 470px;
  padding: 1rem;
}

.experiencia-box {
  width: 90%;
  gap: 1rem;
}

.experiencia-box--inverso {
  flex-direction: row-reverse;
  width: 90%;
}

.experiencia-box > figure,
.experiencia-box--inverso > figure {
  width: 40%;
}

.experiencia-box > figure > img,
.experiencia-box--inverso > figure > img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 550px;
  width: 100%;
}

.experiencia-box--inverso > .info-container {
  align-items: flex-end;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 40%;
}

.info-container > p {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 19px;
}

.info-container > h4 {
  font-weight: 500;
  line-height: 19px;
}

.experiencia-description {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
}

.experiencia-repo {
  padding: 1rem;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  cursor: pointer;
  width: 45%;
}

.experiencia-demo {
  padding: 1rem;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
  cursor: pointer;
  width: 45%;
}

.btn-repo:hover {
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
}

.btn-demo:hover {
  border: 1px solid #2a7ae4;
  background: white;
  color: #2a7ae4;
}
