.experiencia-box, 
.form { 
   display: flex; 
 }

.experiencia-box {
  align-items: center;
  padding-top: 1rem;
  gap: 2rem;
}

.info-container {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.experiencia-description {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.xp h3 {
  color: #464646;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  padding-top: 1rem;
}

.experiencia-repo button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  box-sizing: border-box;
  cursor: pointer;
}

.experiencia-demo button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  margin-left: 16px;
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
  cursor: pointer;
}

#btn-repo:hover {
  border: 1px solid #2a7ae4;
  background: #2a7ae4;
  color: white;
}

#btn-demo:hover {
  border: 1px solid #2a7ae4;
  background: white;
  color: #2a7ae4;
  
}

.experiencia .experiencia-box img {
  width: 470px;
  height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 1rem 0 1rem 6rem;
}

.info-container p {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  line-height: 19px;
  color: #464646;
}

.info-container h4 {
  font-family: "Raleway";
  font-weight: 500;
  line-height: 19px;
  color: #464646;
}

.experiencia-box--inverso {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  padding-top: 1rem; 
  gap: 2rem; 
  margin-right: 8rem;
}


















