.info {
  align-items: center;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 300px;
  justify-content: center;
  margin-top: 3%;
  padding: 1px 1em 0 1em;
  width: 110%;
  flex: none;
  align-self: stretch;
}

.skills > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
  text-align: center;
  margin-bottom: 55px;
  color: #464646;
}

.skills-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 1rem;
}

.skills-box > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.skills-box > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  background-color: #fbfbfb;
  margin: 2px 0 2px 0;
  width: 156px;
  height: 118px;
  flex-wrap: wrap;
  gap: 8px;
  color: #464646;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
}

.hobbie {
  align-items: center;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 300px;
  justify-content: center;
  margin-top: 3%;
  padding: 1px 1em 0 1em;
  width: 110%;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.hobbies > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 20px;
  color: #464646;
}

.hobbies-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 1rem;
}

.hobbies-box > ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  display: flex;
  padding: 16px;
  background-color: #fbfbfb;
  margin: 2px 0 2px 0;
  width: 156px;
  height: 118px;
}

.hobbies-box > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  background-color: #fbfbfb;
  margin: 2px 0 2px 0;
  width: 156px;
  height: 118px;
  flex-wrap: wrap;
  gap: 8px;
  color: #464646;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
}

@media screen and (max-width: 376px) {
}
