body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  max-width: 1440px;
  width: 100vw;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: #464646;
  position: relative;
  text-decoration: none;
}

header {
  align-items: center;
  color: #464646;
  display: flex;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
}

.header-logo {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: 50%;
  padding: 0 0 0 1rem;
}

.menu-list {
  align-items: center;
  color: #464646;
  display: flex;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  gap: 2rem;
  padding: 0px;
}

.menu-item {
  margin-top: 8px;
  white-space: nowrap;
}

.hello {
  align-items: center;
  display: flex;
  gap: 1px;
  justify-content: space-around;
  max-width: 1136px;
  width: 100%;
  margin: 0 auto;
}

.ola {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  width: 100%;
}

h2 {
  align-self: stretch;
  color: #464646;
  font-size: 2.813rem;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  padding: 1rem;
}

.ola > p {
  color: #464646;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 1rem;
}

.photo {
  height: 350px;
  width: 350px;
}

.links {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 1rem;
}

.menu-list-item-c a {
  visibility: hidden;
}

/* Mobile */

@media screen and (max-width: 704px) {
  body {
    max-width: 768px;
  }

  .menu-list {
    display: none;
  }

  .menu-list-item-c {
    visibility: visible;
  }

  header {
    padding: 0;
    justify-content: space-between;
  }

  .hello {
    padding: 1rem 2rem;
  }

  .photo {
    width: 146px;
    height: 146px;
  }

  .hello.ola h2 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 26px;
  }

  .hello.ola p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
  }
}

@media screen and (max-width: 345px) {
  body {
    max-width: 365px;
  }

  .menu-list-item-c {
    visibility: visible;
  }

  .hello {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 2rem 1rem;
    justify-content: center;
    height: 250px;
  }

  .menu-list-item-c {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 16px;
    color: #464646;
  }

  .photo {
    width: 98px;
    height: 98px;
  }

  .ola h2 {
    font-size: 1.375rem;
    line-height: 26px;
  }

  .ola p {
    font-size: 0.875rem;
    line-height: 16px;
  }

  .links {
    font-weight: 600;
    line-height: 16px;
  }
}
